body {
    font-family: "Permanent Marker", sans-serif;
    #background-image: linear-gradient(to right,white,whitesmoke,ghostwhite);
    background-image: url("../images/background.png");

}

h1,h2,h3{
    font-family: "Architects Daughter", cursive;
}

header h2{
    color: tomato;
}


.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right,bisque,Moccasin,DarkSalmon,Brown);
    border-radius: 0.3rem;
}

.navbar{
    padding: 0.5rem 0.5rem;
    background-image: linear-gradient(to right,lightgoldenrodyellow,NavajoWhite,Moccasin);
    margin-bottom: 25px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    margin-right: 10px;
}

.carousel {
    border: solid DarkSalmon;
    margin-bottom: 25px;
    margin-top: 25px;
}

#historyCard{
    margin: 30px;
    background-image: url("../images/background.png");
    border: solid DarkSalmon;
}
#minPottery{
    margin: 30px;
    background-image: url("../images/background.png");
    border: solid DarkSalmon;
}

.potterImage{
    margin-left: 250px;
    margin-bottom: 25px;
}
#homeCarousel{
    margin-top: 25px;
    margin-left: 33px;
    margin-right: 33px;
}